<!DOCTYPE html>
<html>
<head>
  <title>About - BookLantern</title>
</head>
<body>
  <h1>About BookLantern</h1>
  <p>This is the about page for BookLantern.org.</p>
  <a href="/">Back to Home</a>
</body>
</html>